name: Deploy to DEV

on:
  push:
    branches:
      - main
    tags:
      - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy to DEV
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      aws_role_arn: ${{ vars.AWS_ROLE_ARN_DEV }}
      env: dev
    secrets:
      env_file: ${{ secrets.ENV_DEV }}
      cdk_env_file: ${{ secrets.CDK_ENV_DEV }}
